@charset "UTF-8";

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #ffffff;
}

h1 {
}

h2 {
	padding-top: 0.25rem;
}

/*
.nav-link {
	padding-left: 0rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-right: 0.25rem;
}
*/

footer {
	margin-top: 35px;
	margin-bottom: 0rem;
    width: 100%;
    padding-bottom: 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footer {
	padding-top: 25px;
}