@charset "UTF-8";

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #ffffff;
}

h1 {
}

h2 {
	padding-top: 0.75rem;
}

h3 {
	font-size: 1.5rem;
	padding-top: 0.25rem;
}

h4 {
	font-size: 1.25rem;
}

.nav, .nav-link {
	padding-left: 0rem;
	padding-top: 0.25rem;
	padding-bottom: 0rem;
	padding-right: 0.25rem;
}

.socials {
  padding: 10px;
  font-size: 20px;
  width: 30px;
}

footer {
	margin-bottom: 0rem;
    width: 100%;
    padding-bottom: 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footer {
	padding-top: 25px;
}


/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.animate {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
    -webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 2s; /* Firefox < 16 */
        -ms-animation: fadeout 2s; /* Internet Explorer */
         -o-animation: fadeout 2s; /* Opera < 12.1 */
            animation: fadeout 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}